doctype html

html(lang="ru")
head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")

    link(href="https://fonts.googleapis.com/css?family=PT+Sans:400,700&amp;subset=cyrillic,cyrillic-ext", rel="stylesheet")
    link(rel="stylesheet" href="styles.css")
    
    title Magnum Barbershop
body
    header.site-header
        nav.main-nav: .wrapper
            .logo 
                img(src="./img/logo-h.svg").logo__color
                img(src="./img/logo-h-white.svg").logo__white

            .main-nav__menu-icon: .main-nav__menu-icon__middle

            .main-menu
                //- .vert-title.vert-title--menu Menu Magnum Barbershop 
                ul.main-menu__list
                    - var menuItems = ["О нас", "Услуги", "Акции", "Прайс", "Контакты"];
                    - var menuLinks = ["about", "services", "promos", "prices", "contacts"];
                    - for (var i = 0; i < 5; i++)
                        - let link = "#" + menuLinks[i];
                        li: a(href= link)= menuItems[i]

            .main-nav__button
                //- a(href="#").button.button--blue Онлайн запись
                a(href="tel:+79878221223").button.button--blue +7 987 822-12-23

        .hero
            h1.hero__title Добро пожаловать в Magnum
            p.hero__motto По-настоящему<br> мужские Стрижки
            .hero__buttons
                a(href="tel:+79878221223").button.button--mr-20 +7 987 822-12-23
                //- a(href="#").button.button--mr-20 Онлайн запись
                //- a(href="#").button.button--blue О нас
            .vert-title Magnum Barbershop

        nav.scroll-spy
            ul.scroll-spy__list
                - var menuItems = ["О&nbsp;нас", "Услуги", "Акции", "Прайс", "Контакты"];
                    - var menuLinks = ["about", "services", "promos", "prices", "contacts"];
                    - for (var i = 0; i < 5; i++)
                        - let link = "#" + menuLinks[i];
                        li: a(id= (menuLinks[i] + "-link") data-label!= menuItems[i], href= link).scroll-spy__link= menuItems[i]

    section.about: .wrapper
        a#about.nav-link
        .about__hero
            p.about__hero-title Уютный интерьер, профессиональное оборудование и инструмент, бесплатный WiFi и кофе, но главное это по-настоящему мужские стрижки.
            p.about__hero-description Мы действительно знаем толк в мужских стрижках и «ремонте» бороды. Предлагаем тебе попробовать настоящее бритье. Приходи и убедись сам.
            p.about__hero-description Стрижка - это в какой-то степени отражение твоей индивидуальности. Она может рассказать несколько занятных фактов о стиле, характере, образе жизни. Мы поможем подобрать идеальную стрижку, которая подойдет именно тебе.
            .vert-title About Magnum Barbershop

        .about__content
            header.about__header
                h2.about__title Барбершоп<br> #[strong Magnum]
                p.about__subtitle Барбершоп Magnum — лучшая в Саратове парикмахерская для мужчин. 
                
            .about__features
                mixin feature(title, text)
                    .feature
                        h3.feature__title= title
                        p.feature__text= text
                +feature("Отличная команда", "Команда профессиональных мастеров под руководством шеф-мастера.")
                +feature("Угощаем", "Тебе обязательно предложат чашечку свежемолотого кофе или бокал виски.")
                +feature("Развлекаем", "Время ожидания не будет скучным, WiFi и PlayStation в твоем распоряжении!")

    section.services: .wrapper
        a#services.nav-link
        .services__hero
            h2.services__title Услуги<br> #[strong барбершопа]
            .vert-title.vert-title--right Services Magnum Barbershop

        .services__content
            mixin service(title, subtitle, iconClass, imageURL, url)
                a(href= url).service
                    .service__image: img(src=imageURL)
                    .service__content
                        .service__icon: div.icon(class=iconClass)
                        h3.service__title= title
                        p.service__subtitle= subtitle
            +service("Стрижки", "Мужские и детские", "icon-scissors", "./img/haircut-srv.jpg", "price.html#haircut")
            +service("Бритьё", "Классическое и Королевское", "icon-blade", "./img/shaving-srv.jpg", "price.html#shave")
            br
            +service("Борода", "Стрижка и окрашивание", "icon-razor", "./img/beard-srv.jpg", "price.html#beard")
            +service("Татуировки", "Любой сложности", "icon-tatoo-machine", "./img/tatoo-srv.jpg", "price.html#tatoo")

    section.promos: .wrapper
        a#promos.nav-link
        header.promos__header
            h2.promos__title Наши<br> #[strong акции]

        .promos__content 
            mixin promo-item(title, subtitle, imageURL, hoverURL)
                //- a(href="#").promo-item
                .promo-item
                    h3.promo-item__title!= title
                    p.promo-item__subtitle!= subtitle
                    .promo-item__image: img(src=imageURL)
                    .promo-item__hover: img(src=hoverURL)

            +promo-item("Первым 100 <br> клиентам", "карта постоянного клиента с 10% скидкой", "./img/promos/promo-1.jpg", "./img/promos/promo-1-h.jpg")
            +promo-item("Каждая 5 мужская стрижка <br> в подарок", "", "./img/promos/promo-2.jpg", "./img/promos/promo-2-h.jpg")
            +promo-item("10 посещений <br> (любые услуги)", "карта постоянного клиента с 10% скидкой", "./img/promos/promo-3.jpg", "./img/promos/promo-3-h.jpg")
            +promo-item("Скидка 20% <br> выпускникам", "на любые услуги <br> (1 посещение)", "./img/promos/promo-4.jpg", "./img/promos/promo-4-h.jpg")

    section.check-in: .wrapper
        //- a(href="#").button Онлайн запись
        a(href="tel:+79878221223").button +7 987 822-12-23
        header.check-in__header
            .check-in__title мужская территория 
            .check-in__subtitle Ждем тебя в Magnum
        
    section.partners: .wrapper
        header.partners__header
            h2.partners__title Наши<br> #[strong партнеры]
        
        .partners__content
            mixin partner(imageURL, url)
                a(href= url).partner: img(src=imageURL)
            +partner("./img/partners/plogo-4.png", "http://barberwild.com/")
            +partner("./img/partners/plogo-1.png", "#")
            +partner("./img/partners/plogo-2.png", "#")
            +partner("./img/partners/plogo-3.png", "#")

    section.prices: .wrapper
        a#prices.nav-link
        header.prices__header
            .prices__header-wrapper
                h2.prices__title: strong Прайс
                p.prices__subtitle Список наиболее популярных услуг нашего барбершопа
            .prices__button: a(href="price.html").button.button--blue Полный Прайс

        .prices__content
            .vert-title.vert-title--right Prices Magnum Barbershop
            table
                caption Комплексы
                tr
                    td Стрижка + Стрижка бороды
                    td 1400
                tr
                    td Стрижка + Опасное бритьё
                    td 2000

            table
                caption Голова
                tr
                    td Стрижка мужская
                    td 1100
                tr
                    td Детская стрижка (до 12 лет)
                    td 800
                tr
                    td Стрижка папа + сын
                    td 1600
                tr
                    td Стрижка под машинку
                    td 800

            table
                caption Борода
                tr
                    td Стрижка бороды
                    td 500
                tr
                    td Камуфляж бороды
                    td 600

            table
                caption Бритьё
                tr
                    td Опасное бритьё
                    td 1100
                tr
                    td Бритьё головы
                    td 1100

    //- section.team
        header.team__header
            h2.team__title Команда
        .team__wrapper
            mixin member (name, position, photoURL)
                article.member
                    .member__image: img(src=photoURL)
                    .member__hover
                        p.member__action Записаться к мастеру
                        a(href="#").button Онлайн запись
                    header.member__info
                        h3.member__name= name
                        p.member__position= position
            +member("Олег", "Барбер", "#")
            +member("Дмитрий", "Барбер", "#")
            +member("Юрий", "Барбер", "#")

    section.team: .wrapper
        a#team.nav-link
        .vert-title.vert-title--blue Team Magnum Barbershop

        header.team__header
            h2.team__title Наша<br> #[strong команда]

        .team__content
            
            article.member
                header.member__header
                    h2.member__title Дмитрий
                    p.member__position Барбер
                .member__bpool
                .member__image: img(src="./img/team/photo.jpg")
                .member__overlay
                    .member__online Записаться<br> к мастеру
                    a(href="tel:+79878221223").button Онлайн Запись
            
            article.member
                header.member__header
                    h2.member__title Дмитрий
                    p.member__position Барбер
                .member__bpool
                .member__image: img(src="./img/team/photo.jpg")
                .member__overlay
                    .member__online Записаться<br> к мастеру
                    a(href="tel:+79878221223").button Онлайн Запись
            
            article.member
                header.member__header
                    h2.member__title Дмитрий
                    p.member__position Барбер
                .member__bpool
                .member__image: img(src="./img/team/photo.jpg")
                .member__overlay
                    .member__online Записаться<br> к мастеру
                    a(href="tel:+79878221223").button Онлайн Запись

            artice.join
                header.join__header
                    h2.join__title Присоединяйся<br> к команде
                    a(href="tel:+79878221223").button.button--blue Наши вакансии


    section.contacts: .wrapper
        a#contacts.nav-link
        header.contacts__header
            h2.contacts__title Наши<br> #[strong контакты]

        .contacts__content
            .vert-title.vert-title--right.vert-title--blue Contacts Magnum Barbershop
            .contacts__text По всем интересующим вопросам ты можешь обратиться к меденежеру по телефону или оправить письмо на электронный адрес.<br> #[strong  До встречи в MAGNUM]

            .contact
                h3.contact__title Телефоны
                .contact__text
                    a(href="tel:+78452577737") +7 8452 57-77-37 <br>
                    a(href="tel:+79878221223") +7 987 822-12-23

            .contact
                h3.contact__title Электропочта
                .contact__text: a(href="mailto:info@barbershopmagnum.ru") info@barbershopmagnum.ru
            .contact
                h3.contact__title Адрес
                .contact__text г. Саратов, ул. Яблочкова, 8/10

        .contacts__map#map
            //- iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2481.9554534817557!2d46.02650831612876!3d51.532376879639195!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4114c7c0a4895657%3A0xea584b809843bd2!2z0YPQuy4g0K_QsdC70L7Rh9C60L7QstCwLCA4LCDQodCw0YDQsNGC0L7Qsiwg0KHQsNGA0LDRgtC-0LLRgdC60LDRjyDQvtCx0LsuLCA0MTAwMjg!5e0!3m2!1sru!2sru!4v1494244999304" width="100%" height="100%" frameborder="0" style="border:0" allowfullscreen)

    footer.site-footer: .wrapper
        .site-footer__logo-n-socials
            .site-footer__logo: img(src="./img/logo-h-white.svg")
            .site-footer__socials
                .socials
                    h3.socials__title Мы в социальных сетях
                    .socials__content
                        a(href="https://vk.com/magnum_barbershop").social-icon.ico-vkontakte VKontakte
                        a(href="https://www.instagram.com/magnum_barbershop/").social-icon.ico-instagram Instagram

        .site-footer__copyrights © Все права сохранены
        //- <br> Разработано в студии: #[a(href="#") АГОНЬ!]
    script(src="./scripts/map.js")
    script(async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyClofSbCu6EYSgaWdfCK5G1i_eUXgL4RCk&callback=initMap")
    script(src="./scripts/app.js")